{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "CloudPulse" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("CloudPulse") %}

{% endblock page_header %}

{% block main %}
<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>
{% endblock %}
{% block js %}
  {% include "horizon/_scripts.html" %}
  <script type="text/javascript">
    $(document).ready(function () {
       $("#test_results tr").each(function () {
          if($(this).hasClass("even")){
           $(this).removeClass("even");
          }
          if($(this).hasClass("odd")){
           $(this).removeClass("odd");
          }
       });
    });
  </script>
{% endblock %}



